@model MoodPocket.WebUI.Models.GalleryViewModel
@{
    ViewBag.Title = "Gallery";
}
<div class="row">
    @foreach (var picture in Model.Pictures)
    {
        @Html.Partial("_PictureView", picture, new ViewDataDictionary { { "HostedBy", Model.HostedBy } })
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/gallery-scripts")
    @Scripts.Render("~/bundles/meme-scripts")
    <script>
        $(document).ready(function () {
            initGalleryScripts("@Url.Action("DeleteMeme","Gallery")");
            initMemeScripts("@Url.Action("ShowMemes", "Meme")", "@Url.Action("SaveMeme","Meme")","@Url.Action("DownloadMeme","Meme")");
        });
    </script>
}

