@model MoodPocket.WebUI.Models.RegisterModel
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "register-form", style = "display: none;" }))
{
    @Html.AntiForgeryToken()
    <h2>REGISTER</h2>
    <div class="input-field">
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username", value = "", id = "username" })
        @Html.ValidationMessageFor(model => model.Username, "", new { @style = "color: #ef9a9a" })
    </div>
    <div class="input-field">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", value = "", id = "email" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color: #ef9a9a" })
    </div>
    <div class="input-field">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password"})
        @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color: #ef9a9a" })
    </div>
    <div class="input-field">
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Password again"})
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @style = "color: #ef9a9a" })
    </div>
    <div class="input-fiel">
        <div class="row">
            <button type="submit" name="register-submit" id="register-submit" class="form-control btn btn-register waves-effect waves-light" >Create Account</button>
        </div>
    </div>
}

