@model MoodPocket.WebUI.Models.RegLogViewModel
@{
    ViewBag.Title = "Entry";
}
@section links{
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    }

<div class="container">
    <div class="row">         
            <div class="row">
                <div class="col l12">
                    <div class="card" style="position: relative">
                        <div class="card-content">
                            <a href="@Url.Action("Index","Home")">
                                <i class="material-icons" style="color: #666666; position:absolute;top: 15px;right: 15px;">arrow_back</i>
                            </a>
                            @Html.Partial("_LoginFormView", Model.Login)
                            @Html.Partial("_RegisterFormView", Model.Register)
                        </div>
                        <div class="card-action">
                            <div class="row">
                                <div class="col s6 tabs">
                                    <a href="#" class="active" id="login-form-link"><div class="login">LOGIN</div></a>
                                </div>
                                <div class="col s6 tabs">
                                    <a href="#" id="register-form-link"><div class="register">REGISTER</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
</div>

@section scripts{
    @Scripts.Render("~/bundles/account-scripts")
    <script>
        $(document).ready(function (){
             initAccountScripts("@Url.Action("Register", "Account")", "@Url.Action("Login", "Account")",
            "@Url.Action("Index","Home")", "@Url.Action("Entry", "Account")");
        });

    </script>
    }