@model List<Imgur.API.Models.IGalleryItem>
@{
    ViewBag.Title = "Index";
}

<button type="submit" class="waves-effect waves-light btn-large" id="show-meme">
    Browse Pictures
</button>
<div class="preloader-wrapper big">
    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>
<div class="row" id="meme-container">
</div>

@section scripts{
    @Scripts.Render("~/bundles/meme-scripts")
    @Scripts.Render("~/bundles/gallery-scripts")
    <script>
        $(document).ready(function () {
            initMemeScripts("@Url.Action("ShowMemes", "Meme")", "@Url.Action("SaveMeme","Meme")");
            initGalleryScripts("@Url.Action("DeleteMeme", "Gallery")");
        });

    </script>
    }